<h2>The results</h2>

<table class="table">
    <thead>
    <tr>
        <th>Session</th>
        <th>Participant</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    {{#results}}
        <tr>
            <td>{{session}}</td>
            <td><a href="/results/sessions/{{session}}/participants/{{identifier}}">{{identifier}}</a></td>
            <td>{{date}}</td>
            <td class="result">{{time}} ms</td>
        </tr>
    {{/results}}
    </tbody>
</table>
